.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: #d19d00;
  background-image: url(https://www.transparenttextures.com/patterns/brick-wall-dark.png);
} 

.username {
  margin-top: -1.2em;
}

/* Tablet Style */
@media only screen and (max-width: 1023px) {
  .header-profile {
    min-width: 768px;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 1024px) {
  .header-profile {
    height: 400px;
    width: 600px;
    margin-top: 8em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 8px;;
  }
}