#tweet-container {
  width: 100%;
}

article.tweet {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 4px #545149;
  padding: 0.7em;
}

header.user-info {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.icon {
  margin-right: 0.5em;
}

.handle {
  color: rgb(192, 192, 192);
}

p {
  border-bottom: solid 3.5px #545149;
  padding: 0.7em;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: -2em;
}

button.function {
  border: none;
  color: #545149;
  cursor: pointer;
}